.form__wrp {
  height: 100vh;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.text {
  color: #9e3232;
}
.inputs:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 67%;
  border: 1px solid rgba(112, 13, 193, 0.459);
  border-radius: 1%;
  background-color: #15131978;
}
.form__title {
  margin: 91px auto 0;
  padding: 50px 0 50px 0;
  text-align: center;
}

label {
  margin: 20px;
}

.inputs {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff40;
}

.inputs:focus {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff40;
}

::placeholder {
  color: black;
}

.textArea {
  font-size: 18px;
  background-color: #43426e40;
  width: 100%;
  height: 80%;
  display: inline-block;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  background: #7e4b4b3b;
  position: relative;
}
.textArea::before {
  content: "";
  border: 2px solid #353535;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}
.textArea__animation {
  display: flex;
  animation-duration: 2s;
  width: 96%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.emailNameWrp {
  display: flex;
  width: 94%;
  flex-direction: row;
  justify-content: space-between;
  margin: 4% 0;
}

.submitBtn {
  margin: 10px 0 20px 15px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #9e3232;
  border: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  background: #123;
}

.submitBtn .submitBtn__span {
  position: relative;
  z-index: 2;
}

.submitBtn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #320944;
  transition: all 0.35s;
}

.submitBtn:hover {
  color: #fff;
}

.submitBtn:hover:after {
  width: 100%;
}

.resetBtn {
  margin: 10px 15px 20px 0;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #9e3232;
  border: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  background: #123;
}

.resetBtn .resetBtn__span {
  position: relative;
  z-index: 2;
}

.resetBtn:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #320944;
  transition: all 0.35s;
}

.resetBtn:hover {
  color: #fff;
}

.resetBtn:hover:after {
  width: 100%;
}
.buttons__wrp {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.custom__shape__divider__top__1657791939 {
  position: absolute;
  top: 0vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom__shape__divider__top__1657791939 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 146px;
}

.custom__shape__divider__top__1657791939 .shape__fill {
  fill: #2f2033;
}

@media screen and (max-width: 1024px) {
  .form__title {
    margin: 70px auto 0;
    padding: 35px 0 45px 0;
  }
  .textArea {
    height: 70%;
  }
}

@media screen and (max-width: 768px) {
  .form__title {
    font-size: 30px;
  }
  .form {
    width: 80%;
  }
  label {
    font-size: 14px;
  }
}

@media screen and (max-width: 620px) {
  .form__title {
    font-size: 20px;
  }
  .form {
    width: 80%;
  }
  label {
    font-size: 14px;
  }
  .form__buttonsAni {
    display: flex;
    width: 100%;
  }
  .submitBtn {
    height: 25px;
    width: 70%;
    margin: 10px auto 20px;
    line-height: 40px;
    font-size: 11px;
    letter-spacing: 0;
  }
  .resetBtn {
    width: 70%;
    margin: 10px auto 20px;
    line-height: 40px;
    font-size: 13px;
    height: 25px;
    letter-spacing: 0;
  }
  .resetBtn__span {
    bottom: 10px;
  }
  .submitBtn__span {
    bottom: 10px;
  }
  .inputs {
    width: 90%;
  }
  .textArea {
    font-size: 12px;
  }
}
