.welcome__text {
  color: black;
  margin: 4px 0;
  font-size: 20px;
}

.welcome__text__span {
  margin: auto 5px auto 5px;
}

.main__text {
  margin: 0 0 30px;
  color: rgb(1, 0, 0);
  font-size: 30px;
  text-align: center;
}

.main__text__span {
  font-size: 35px;
  color: #5f0874;
}

.welcome__link {
  padding: 4px 8px;
  margin: 0 auto;
  border: none;
  border-radius: 0;
  background: none;
  color: #fff;
  transition: all 0.5s;
  position: relative;
}
.welcome__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
.welcome__link:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.welcome__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.welcome__link:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.main__box {
  width: 41%;
  height: 56%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  border-radius: 5px;
  background: rgb(28 50 43 / 18%);
  transition: 1s;
}

.main__box:hover {
  transform: scale(1.1);
}
