.skillsWrp {
  position: relative;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(170, 181, 195, 1) 49%,
    rgba(136, 134, 242, 1) 100%
  );
}
.listsWrp {
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.skills {
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: flex-end; */
  border: 2px solid black;
  padding: 0 15px 5px;
}

.skills__title {
  color: #129a76;
  /* margin: 20px; */
  /* transform: rotate(-90deg); */
  /* transform-origin: left top 0; */
}
.skills__list__item {
  list-style-type: none;
  color: #129a76;
  padding: 3px 0 3px 5px;
  margin: 5px;
  width: 200px;
}

.skills__list {
  padding: 0;
  width: 60%;
}
.languagesItem {
  list-style-type: none;
  margin: 35px 0 10px 0;
}

.contact__text {
  color: #129a76;
  margin: 4px 0;
  font-size: 20px;
}

i {
  margin-left: 5px;
  transition: 0.5s;
}

.custom-shape-divider-top-1658322684 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom__shape__divider__top__1658322684 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 22px;
}

.custom__shape__divider__top__1658322684 .shape__fill {
  fill: #2f2033;
}
