.about__wrp {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.about {
  margin: 90px 0px 0 80px;
  width: 32%;
  border: solid 1px black;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60%;
}
.about__text {
  width: 90%;
  text-align: center;
}
.skills {
  width: 20%;
  border: solid 1px black;
  height: 230px;
  margin: 100px;
}
.skills__title {
  margin: 20px;
}
.skills__list__item {
  list-style-type: none;
  border: solid 1px black;
  border-radius: 6px;
  padding: 3px 0 3px 5px;
  margin: 5px;
  width: 200px;
}
