li {
  text-decoration: none;
  list-style-type: none;
}

.about__wrp {
  margin: 0;
  height: min-content;
  position: relative;
}

* {
  box-sizing: border-box;
}

.container {
  margin-top: 3%;
  width: 100%;
  background: rgba(182, 81, 81, 0.15);
  border: 2px solid #190d0d;
  border-radius: 0 20px 20px 0;
}

.about {
  margin: 0px 0px 15px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    183deg,
    rgb(1, 2, 19) 23%,
    rgba(13, 0, 36, 0.8970938717) 40%,
    rgb(17, 7, 36) 100%
  );
  text-transform: uppercase;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  border-bottom: 5px solid #3a3865;
}
.features {
  margin-top: 50px;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: min-content;
  gap: 3% 3%;
  grid-template-areas: '. . .';
  justify-content: center;
  transition: all 1s;
}
.aboutCard {
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  height: 140px;
  -webkit-box-shadow: -5px -1px 18px 3px rgba(22, 21, 43, 0.68);
  -moz-box-shadow: -5px -1px 18px 3px rgba(22, 21, 43, 0.68);
  box-shadow: -5px -2px 15px 3px rgb(48 60 71 / 88%);
  background: linear-gradient(135deg, #2a724e 0%, #9698b1 100%);
}

.cardTitle__wrp {
  color: #101c27;
  font-size: 25px;
  transition: all 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
}

.showButton {
  border: none;
  position: absolute;
  bottom: 5px;
  transition: all 0.2s;
  background: none;
  z-index: 3;
}
.showButtonText {
  transition: all 0.2s;
  border: none;
  position: absolute;
  top: 5px;
  background: none;
  z-index: 3;
}
.cardText__wrp {
  transition: all 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.cardText {
  color: #0d0c2f;
  font-size: 21px;
  padding: 0 30px;
  margin: 30px 0 5px;
}

.cardTitle .aboutSkillsWrp {
  display: flex;
}

.about__title {
  margin-top: 70px;
  color: #96b1aa;
}
.about__text {
  color: #8e7474;
  width: 98%;
  padding: 15px 15px 25px;
}
.skills {
  text-align: center;
}
.skillsTitle {
  color: #8e7474;
  margin: 80px 0 50px;
  font-size: 35px;
}
.skillsList {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px;
  gap: 3% 3%;
  grid-template-areas: '. . . . . . . .';
  align-items: center;
  justify-content: center;
  padding: 0;
}

.custom__shape__divider__top__1657712595 {
  position: absolute;
  top: -1vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom__shape__divider__top__1657712595 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 104px;
}

.custom__shape__divider__top__1657712595 .shape__fill {
  fill: #010213;
}

.custom__shape__divider__bottom__1658322486 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom__shape__divider__bottom__1658322486 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 22px;
  transform: rotateY(180deg);
}

.custom__shape__divider__bottom__1658322486 .shape__fill {
  fill: #2f2033;
}
.linkWrp {
  display: flex;
  position: inherit;
  margin-top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.contact__link {
  padding: 0px 8px;
  margin: 0 auto;
  border: none;
  border-radius: 0;
  background: none;
  color: #b95555;
  transition: all 0.5s;
  position: relative;
}
.contact__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(4 3 3 / 18%);
  transition: all 0.3s;
  border: 1px solid;
}
.contact__link:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.contact__text {
  transition: all 0.4s;
}
.contact__link:hover .contact__text {
  color: #177464;
}
.contact__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  border: 1px solid rgb(26 130 130 / 50%);
  transform: scale(1.2, 1.2);
}
.contact__link:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
.contact__link:hover i {
  transform: rotate(90deg);
  color: #177464;
}

@media screen and (max-width: 1024px) {
  .about__wrp {
    min-height: 100vh;
  }
  .about__title {
    font-size: 21px;
  }
  .about__text {
    font-size: 16px;
    width: 80%;
    text-align: center;
  }
  .about__text__wrp {
    display: flex;
    justify-content: center;
  }
  .aboutCard {
    width: 220px;
    height: 120px;
  }
  .cardText {
    padding: 13px 15px 0;
    color: #0d0c2f;
    font-size: 15px;
  }
  .cardTitle {
    font-size: 20px;
  }

  .container {
    margin-top: 3%;
  }
  .skills__text {
    font-size: 14px;
    padding: 3px;
  }
  .skills__span {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .about__title {
    font-size: 20px;
  }
  .about__text {
    font-size: 15px;
    width: 80%;
    text-align: center;
  }
  .about__text__wrp {
    display: flex;
    justify-content: center;
  }
  .aboutCard {
    width: 180px;
    height: 120px;
  }
  .cardText {
    padding: 11px 15px 0;
    color: #0d0c2f;
    font-size: 14px;
  }
  .cardTitle {
    font-size: 19px;
  }

  .container {
    margin-top: 2%;
  }
  .skills__text {
    font-size: 13px;
    padding: 2px;
  }
  .skills__span {
    font-size: 13px;
  }
}

@media (max-width: 625px) {
  .cardTitle__wrp {
    align-items: flex-start;
  }
  .cartTittleImg {
    margin-top: 20px;
  }
  .features {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 60%;
    grid-template-rows: min-content min-content min-content;
    gap: 10% 3%;
    grid-template-areas:
      '.'
      '.'
      '.';
    justify-items: center;
  }
  .aboutCard {
    width: 60%;
    height: 90px;
    text-align: center;
    margin: 10px 0 0;
  }
  .cardText {
    padding: 0px 5px 0;
    font-size: 12px;
  }
  .skillsList {
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      '. . . .'
      '. . . .';
    gap: 20% 12%;
  }

  .container {
    margin-top: 5px;
  }

  .about__title {
    font-size: 20px;
  }
  .about__text {
    font-size: 12px;
  }
}
@media screen and (max-height: 800px) {
  .about__wrp {
    max-height: 200vh;
  }
}
@media screen and (max-height: 500px) {
  .about__wrp {
    min-height: 170vh;
  }
}

@media screen and (min-height: 750px) and (max-width: 600px) {
  .linkWrp {
    display: flex;
  }
  .aboutCard {
    width: 50%;
    height: 120px;
    text-align: center;
    margin: 10px 0 0;
  }
  .cardText {
    padding: 0px 5px 0;
    font-size: 15px;
  }
  .container {
    margin-top: 4%;
  }
} ;
