.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 8vh;
  background: #1c322b;
  border-bottom: 1px solid #363664;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navItem {
  margin: auto, 0;
  list-style-type: none;
  transition: 1;
}

.navItem:hover {
  color: #a3488e;
}

.navMain {
  position: absolute;
  top: 4%;
  right: 3%;
}

.navAbout {
  position: absolute;
  top: 4%;
  right: 8%;
}
