footer {
  position: relative;
  height: 105vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hr {
  color: black;
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
  height: 2px;
  border: 2px solid #9e3232;
  transition: 2s;
}
.hr__img__wrp {
  position: absolute;
  background-color: #9e3232;
  top: -15px;
  z-index: 1;
  border-radius: 2px;
  padding: 3px 0 2px;
  transition: all 0.5s;
}
.hr__img {
  transform: rotate(270deg);
}
.hr__img__wrp:hover {
  background-color: #2c041e;
  transform: scale(1.2);
}
.hr__img {
  transition: 2s;
}
.hr__img__wrp:hover .hr__img {
  fill: white;
}

.hr__img__wrp:hover .hr {
  border: 2px solid #2c041e;
  transform: scale(1.2);
}
.footer__text {
  width: 40%;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  color: #9d3131;
}
.links__wrapper {
  margin-top: 5vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.imageWrp {
  position: relative;
  margin: 0 10px;
  background: #9e3232;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 1.5s;
  border: 4px solid #9e3232;
}

.imageWrp:hover {
  border-radius: 35px;
  background: rgba(87, 14, 95, 0.63);
  border: 4px solid rgb(100, 192, 179);
}

.link__image {
  transition: 1.5s;
}

.link .imageWrp:hover .link__image {
  fill: rgb(25, 243, 210);
  transform: rotateY(360deg);
}

.link .imageWrp:hover .link__image {
  fill: rgb(25, 243, 210);
  transform: rotateY(360deg);
}

.footer__bottomBg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.footer__bottomBg .footer__botomBg__img {
  position: relative;
  display: block;
  width: calc(187% + 1.3px);
  height: 209px;
  transform: rotateY(180deg);
}

.footer__bottomBg .footer__bottomBg__fill {
  fill: #2c041e;
}

.footer__name {
  color: #129a76;
  margin: 15% auto 0;
  z-index: 2;
  position: absolute;
  bottom: 3%;
}

.footer__nameSpan {
  color: #9d3132;
}
@media screen and (max-width: 1024px) {
  .footer__bottomBg .footer__botomBg__img {
    height: 120px;
  }
  .imageWrp {
    padding: 7px;
  }
}
@media screen and (max-width: 768px) {
  .footer__bottomBg .footer__botomBg__img {
    height: 100px;
  }
}

@media screen and (max-width: 625px) {
  .footer__text {
    font-size: 19px;
    width: 90%;
  }
}
@media screen and (max-height: 700px) {
  .footer__text {
    font-size: 15px;
    width: 80%;
  }
}
